.afs-navbar-container {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* 16px */
}

.afs-navbar-path-element {
  font-size: larger;
  color: var(--afs-on-foreground);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-duration: 250ms;
}

.afs-navbar-path-element:hover {
  color: var(--afs-special);
}
