.rfe-navbar-container {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* 16px */
  font-family: var(--rfe-font);
}

.rfe-navbar-path-element {
  font-size: larger;
  color: var(--rfe-on-foreground);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.rfe-navbar-path-element:hover {
  color: var(--rfe-special);
}
