.afs-navbar-container {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* 16px */
  font-family: var(--afs-font);
}

.afs-navbar-path-element {
  font-size: larger;
  color: var(--afs-on-foreground);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.afs-navbar-path-element:hover {
  color: var(--afs-special);
}
