.rfe-preview-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  min-width: 0;
  gap: 0.5rem; /* 8px */
  padding: 1rem; /* 16px */
  overflow: hidden;
  border-radius: 0.25rem; /* 4px */
  border: 1px solid var(--rfe-secondary);
  background-color: var(--rfe-foreground);
}

.rfe-preview-placeholder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem; /* 16px */
}

.rfe-preview-placeholder-text {
  text-align: center;
  color: var(--rfe-on-foreground);
  font-family: var(--rfe-font);
}

.rfe-preview-placeholder-card {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem; /* 8px */
  border: 1px dashed var(--rfe-secondary);
}

.rfe-preview-title {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  font-weight: 600;
  overflow-wrap: break-word;
  font-family: var(--rfe-font);
}

.rfe-preview-delete {
  color: var(--rfe-on-foreground);
  border-radius: 0.25rem;
  border-style: none;
  padding: 0.5rem;
  background-color: transparent;
}

.rfe-preview-delete:hover {
  background-color: var(--rfe-special);
}

.rfe-preview-content {
  min-height: 0;
  flex: 1;
  overflow-y: auto;
}

.rfe-preview {
  position: relative;
  height: 60%;
  width: 100%;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
  border-radius: 0.25rem;
  object-fit: contain;
}

.rfe-preview-toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.rfe-preview-button {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  border-radius: 0.25rem;
  padding: 1rem 0.5rem;
  border-style: none;
  background-color: transparent;
  font-family: var(--rfe-font);
  text-decoration: none;
  color: var(--on-foreground);
}

.rfe-preview-button:hover {
  background-color: var(--rfe-special);
}

.rfe-preview-info {
  text-align: left;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  min-height: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 0.5rem;
}

.rfe-preview-text-heading {
  font-family: var(--rfe-font);
  color: var(--rfe-secondary);
}

.rfe-preview-text-break {
  word-break: break-all;
}

.rfe-preview-text {
  font-family: var(--rfe-font);
  margin: 0;
}
