.rfe-info-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--rfe-border);
  background-color: var(--rfe-foreground);
  padding: 0.5rem 1rem;
}

.rfe-info-heading {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  font-family: var(--rfe-font);
}

.rfe-info-text {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  opacity: 0.7;
  font-family: var(--rfe-font);
}

.rfe-rate-container {
  height: 0.5rem; /* 8px */
  overflow: hidden;
  border-radius: 9999px;
  background-color: var(--rfe-secondary);
}

.rfe-rate-bar {
  height: 100%;
  border-radius: 9999px;
  background-color: var(--rfe-special);
}
