:root {
  --rfe-background: #d3d4ec;
  --rfe-foreground: #c8c9e0;
  --rfe-toolbar: #caccd1;
  --rfe-on-background: #0e0e0e;
  --rfe-on-foreground: #222222;
  --rfe-secondary: #8f8f8f;
  --rfe-special: #006492;
}

@media (prefers-color-scheme: dark) {
  :root[data-theme="dark"],
  .dark {
    --rfe-background: #303030;
    --rfe-foreground: #202020;
    --rfe-toolbar: #252525;
    --rfe-on-background: #a5a5a5;
    --rfe-on-foreground: #f5f5f5;
    --rfe-secondary: #717171;
    --rfe-special: #023f5b;
  }
}
