:root {
  --rfe-background: #d3d4ec;
  --rfe-foreground: #c8c9e0;
  --rfe-toolbar: #caccd1;
  --rfe-on-background: #0e0e0e;
  --rfe-on-foreground: #222222;
  --rfe-secondary: #8f8f8f;
  --rfe-special: #006492;
}

@media (prefers-color-scheme: dark) {
  :root[data-theme="dark"],
  .dark {
    --rfe-background: #181818;
    --rfe-foreground: #181818;
    --rfe-inner: #2e303a;
    --rfe-inner-hover: #4e5269;
    --rfe-on-background: #bfbfbf;
    --rfe-on-foreground: #ffffff;
    --rfe-secondary: #8f8f8f;
    --rfe-special: #2596be;
    --rfe-on-special: #181818;
    --rfe-foreground-focus: #283b2f;
  }
}
