@import "./css/colors.css";

:root {
  --rfe-font: system-ui, "Segoe UI", Roboto, sans-serif;
}

.rfe-flex-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.rfe-animated {
  transition: background, opacity, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
